.symptoms_section {
	width: 80%;
	margin: 4rem auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.symptoms_section h3 {
	color: var(--red);
	font-weight: 700;
}
.symptoms_section h1 {
	color: var(--green);
	font-weight: 700;
}
.symptomsImage {
	height: 612px;
	width: 977px;
}

@media screen and (max-width: 1024px) {
	.sympotoms_section {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.symptomsImage {
		height: 40vh;
		width: 90vw;
	}
}
